{{#each releases}}
  <div class="panel panel-{{this.color}}">
    <div class="panel-heading">
      <h3 class="panel-title">{{this.name}}</h3>
    </div>
    <div class="panel-body">
      <p>Version:
        <span class="label label-success no-new-line">{{this.version}}</span>
      </p>
      <p>Time:
        <span class="label label-info no-new-line">{{this.time}}</span>
      </p>
      {{{this.note}}}
      <p>
        {{#each this.packs}}
          <a class="btn btn-{{this.color}}" href="{{this.link}}">{{this.name}}</a>
        {{/each}}
      </p>
    </div>
  </div>
{{/each}}
